#main > h1:nth-child(1) {
	margin-top: 100px;
}

body {
	background-color: #2B333D;
	color:#F0F0F0;
}

ul {
	list-style-type: none;
}

.pochette { /*le cadre d'une affiche*/
	background-color: #DDDDDD;
	width: 330px;
	padding: auto;
	height: 400px;
	overflow: hidden;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 15px;
	margin-left: 15px;
	color:black;
}

.pochette p {
	width: 330px;
	text-align: center;
}

.pochette h2 { /*le titre du film*/
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	margin: 25px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
}

.pochette img { /*l'affiche en elle même*/
	margin: 25px 40px 30px 40px ;
	vertical-align: center;
	height: 250px;
	width: 250px;
}

.pochette span {
    width: 330px !important;
    visibility: hidden;
    text-align: center;
}
 
.pochette img:hover + span {
    visibility: visible;
}

#AccRap {
	display:inline;
}

.listeArtiste {
	background-color: whitesmoke;
	height:65px;
}

.listeArtiste h2 {
	padding-top: 20px;
	padding-left: 20px;
}

.listeArtiste a {
	color: black;
}

#code {
	background-color: #F9F2F4;
	display: block;
}

select {
	color:black;
	margin-top: 50px;
}

input {
	color:black;
}

#page_prec {
	color: white;
	float:left;
}

#page_suiv {
	color: white;
	float:right;
}
#clear {
	clear: both;
}