{% extends "base.html" %}
{% block main %}
		<h1>Rock BD</h1>
		<p>Projet Flask reprennant les différents modules que l'on a vu en web au cours du S3.</p>
		<p>Le but est d'interfacer une base de données contenant des musiques, et d'y ajouter le plus de fonctionnalitées possibles.</p>
		<p>Membres :</p>
		<ul>
			<li> <a target="_blank" href="https://gitlab.com/u/Domitille">Domitille BERTIN</a> <img height="30px" src="/static/bertin.png"> </li>
			<li> <a target="_blank" href="https://gitlab.com/u/manonc">Manon CHAMPDAVEINE</a> <img height="30px" src="/static/champdaveine.png"> </li>
			<li> <a target="_blank" href="https://gitlab.com/u/LENOIR">Antoine LENOIR</a> <img height="30px" src="/static/lenoir.png"> </li>
		</ul>

		<h2>Assets/ressources utilisées : </h2>
		<ul>
			<li> <a href="http://www.flaticon.com/free-icon/musical-note_1449#term=music&page=1&position=10">Favicon</a> : <div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> </li>
			<br>
			<li> La fonction transcode : <br>
					<code id="code">
						def transcode(chaine): <br>
						&nbsp;&nbsp;&nbsp;&nbsp;import unicodedata<br>
						&nbsp;&nbsp;&nbsp;&nbsp;return chaine.encode('ascii','ignore').decode()
					</code><br>
					De <a href="https://gitlab.com/u/faseldi" >Florian DUNEAU</a> <!-- <3 -->
			</li>
			<br>
			<li><a href=""></a> </li>
		</ul>
{% endblock %}