{% extends "base.html" %}
{% block main %}
	<h1>Les albums du groupe {{artiste}}</h1>
	<ul>
		{% for album in albums %}
		<li> <div class="pochette" > <h2>{{ album[0] }}</h2> </a> <p>{{ album[1] }}</p> <img alt="pochette de l'album {{album[0]}}" onerror="this.src='/static/404.png'" src="http://91.121.156.109/img_rockdb/{{album[2]}}"> </div> </li>
		{% endfor %}
	</ul>
{% endblock %}