{% extends "base.html" %}
{% block main %}
	<h1>Les artistes</h1>
	<p>Accès rapide </p>
	<ul>
		{% for lettre in alphabet %}
		<li id="AccRap"><a href="/artistes/{{lettre}}" >{{lettre}}</a></li>
		{% endfor %}
	</ul>

	<ul>
	{% for x in albums %}
		<li> <div id="{{x[2][0].upper()}}" class="pochette" > <a href="{{'/artistes/'+x[2][0].upper()}}" ><h2>{{ x[2][0].upper() }}</h2></a> <img alt="pochette de la lettre {{x[2][0].upper()}}" src="http://91.121.156.109/img_rockdb/{{x[0]}}" onerror="this.src='/static/404.png'"> </div> </li>
	{% endfor %}
	</ul>
{% endblock %}