{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" href="/static/favicon.svg" type="image/svg+xml"> <!-- Icon made by freepik.com from flaticon.com, licensed under CC BY 3.0 -->
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function () {
    $('.nav li a').click(function(e) {

        $('.nav li').removeClass('active');

        var $parent = $(this).parent();
        if (!$parent.hasClass('active')) {
            $parent.addClass('active');
        }
        e.preventDefault();
    });
});
</script>
{{super()}}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="dropdown">
				<span class="sr-only"> Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Rock DB</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if tab == "Accueil" %} class="active" {% endif %} ><a href="/">Accueil</a></li>
				<li {% if tab == "Artistes" %} class="active" {% endif %} ><a href="/artistes">Artistes</a></li>
				<li {% if tab == "Recherche" %} class="active" {% endif %} ><a href="/search">Recherche</a></li>
				<li {% if tab == "propos" %} class="active" {% endif %} ><a href="/about">À propos</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
{% block content %}
<div id="main" class="container theme-showcase" role="main">
	{% block main %}{% endblock %}
{% endblock %}

