{% extends "base.html" %}
{% block main %}
	<h1>Artistes en {{lettre}}</h1>
	<p>Aller à la page</p>
	<ul>
		{% for i in ITpage %}
		<li id="AccRap"><a href="/artistes/{{lettre}}/{{i}}" >{{i}}</a></li>
		{% endfor %}
	</ul>
	<ul>
		{% for x in artistes %}
		<li> <div class="listeArtiste" > <a href="/artistes/artiste/{{x[0]}}"> <h2>{{ x[0] }}</h2> </a> <p>{{ x[1] }}</p> </div> </li>
		{% endfor %}
{% endblock %}