{% extends "base.html" %}
{% block main %}
	<h1> Bienvenue sur le site !</h1>
	<br><br><br><br><br>
	<center>
		<h2>Découvrez : </h2>
		<p>{{titre_playliste}}</p>
		<iframe width="560" height="315" src="{{iframe}}" frameborder="0" allowfullscreen></iframe>
	</center>
{% endblock %}