{% extends "base.html" %}
{% block main %}
	<h1> Que voulez vous rechercher ? </h1>
	<form name="recherche" method="POST" action="/result">
		<input type="text" name="champ" size="35">
		<select name="type">
			<option value="0">rechercher par titre</option>
			<option value="1">rechercher par artiste</option>
			<option value="2">rechercher par genre</option>
			<option value="3">rechercher par année</option>
		</select>
		<br><br>
		<input type="submit" value="Rechercher !">
	</form>
{% endblock %}