{% extends "base.html" %}
{% block main %}
	<h1>Voici les résultats de la recherche {{recherche}} pour la catégorie {{cat}} :</h1>
	{% if page > 0 %}
		<a id="page_prec" href="/result/{{type}}/{{champ}}/{{page-1}}">page précédente</a>
	{% endif %} 
	{% if resultat|length == 9 %}
		<a id="page_suiv" href="/result/{{type}}/{{champ}}/{{page+1}}">page suivante</a>
	{% endif %}
	<div id="clear"></div>
	<ul>
		{% for elem in resultat %}
		<li> <div class="pochette" > <h2>{{elem[0]}}</h2> <p>{{elem[3]}}, {{elem[2]}}</p> <img alt="pochette" onerror="this.src='/static/404.png'" src="http://91.121.156.109/img_rockdb/{{elem[1]}}" ></li>
		{% endfor %}
	</ul>
{% endblock %}